.switchContainer {
  width: 188px;
  height: 33px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(51, 51, 51, 0.29);
  font-size: 14px;
  padding: 0 4px;
  cursor: pointer;

  .switchPane {
    width: 90px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: transparent;
    color: #fff;

    &Active {
      width: 90px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      background-color: #fff;
      color: #2459ff;
      border-radius: 16px;
    }
  }
}

.gray {
  background-color: hsla(0, 0%, 100%, 0.16);
}
