.verticalBar {
  border-left: 0.5px solid #fff;
  padding-left: 20px;
  font-size: 13px;
}

.leftContent {
  width: 170px;

  :global {
    .ant-btn {
      background-color: transparent;
      color: #1677ff;
      border-color: #1677ff;
    }

    .ant-btn-primary {
      background-color: #1677ff;
      color: #fff;
    }
  }
}

.mt10 {
  margin-top: 10px;
}

.number {
  font-size: 30px;
  font-family: 'AlipayNumber', sans-serif;
}

.iconWrapper {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: normal;
  color: #999;
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
}

.bg {
  width: 450px;
  height: 200px;
  background-image: url('https://gw.alipayobjects.com/mdn/rms_50301b/afts/img/A*B-zvRraeYRgAAAAAAAAAAAAAARQnAQ');
  background-color: #fff;
  background-size: 45% 65%;
  background-repeat: no-repeat;
  background-position: bottom -4px right -4px;
  border-radius: 10px;
}
